

/* =========================================================== Footer */

.footer{
    position: absolute;
    width: 100%;
    height: 60px;
    left:0;
    bottom:0;
    right:0;
    text-align: center;
    background-color:black;
}

/* ==================== Logos */
.gh, .li, .insta, .contact, .resume{
    height:40px;
    width:40px;
    position:relative;
    display: inline-block;
    margin: 10px 0.5rem;
}
.gh IMG, .li IMG, .insta IMG, .contact IMG, .resume IMG{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ;
}

  .gh2:hover, .li2:hover, .insta2:hover, .contact2:hover, .resume2:hover {
    opacity:0;
 }
 
 .gh2, .li2, .insta2, .contact2, .resume2 {
    opacity:1;
 }
 
 