
.fadeIn{
  animation-name: fadeIn;
  animation-duration:2s;
}

@keyframes fadeIn{
  0%{
      opacity:0;
  }
  100%{
      opacity:1;
  }
}


/* =============================== Headings */

.artDirection{
  font-family: sans-serif;
  font-style: oblique;
  font-size: 4rem;
  text-align:center;
  font-weight: bolder;
  color: #4C61B2;
  margin-top:3rem;
  margin-bottom:2rem;
}

.designDescriptions{
  color: #9A9A9A;
  font-size: 1rem;
  margin: 0 1rem 3rem 1rem;
 }

/* =============================== Headings */

.designPhotoCenter{
  display:flex;
  justify-content: center;
}

.photographyContainer{
  width:750px;
  height: 536px;
}

.designPhotoBandName{
  -webkit-text-stroke: 1px black;
  font-weight: bold;
}

.designPhotoCaptionContainer{
  width: 100%;
  background-color: rgb(0,0,0,0.5);
  padding: 5px 0;
  margin: auto;
}

.designPhotoHyperlink, .designPhotoHyperlink:focus{

  color: white !important;
}

/* ======================================================================================================== Mags */

.magGrid{
  display: grid;
  margin: auto;
  justify-content: center;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 30rem);
}


.mags{
  display:flex;
  margin:0;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: cover;
  vertical-align: center;
}


.mags IMG{
  height: inherit;
  width: inherit;
  object-fit: cover;
  object-position: center;
}

.imgDescription{
  width:275px;
  position:absolute;
  color: white;
  font-family: serif;
  font-weight: bolder;
  font-size: 1.5rem;
  text-shadow: 1.25px 1.25px 1px black;
  visibility: hidden;
}


.imgDescription:hover{
  cursor:pointer;
}


.mags:hover IMG{
  filter: grayscale(75%) blur(0.75px) opacity(75%);
}

.mags:hover .imgDescription{
  visibility: visible;
}




/* =================================================================== Redirect Buttons */

.buttonAlign{
  text-align:center;
  margin-top: 2rem;
}

.demoReadButtons{
  background-color: #4D95B4;
  color:white;
  font-family: sans-serif;
  font-size: 1rem;
  padding:.25rem;
  padding-left:.5rem;
  padding-right:.5rem;
  border-radius: 25px;
  margin-left:0.5rem;
  margin-right: 0.5rem;
  transition: transform .5s;
  transform: scale(1);
  margin-bottom: 1rem;
  outline: none;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

/* ================================================================= Testmonials...home page */

.testemonial{
  color: #9A9A9A;
  margin-bottom: 1rem;
  font-size: 18px;
}

.testmonialDisclaimer{
  text-align: center;
  color: #4D95B4;
  margin-bottom: 1rem;
  font-style:italic;
  font-size: 20px;
}

.recommender1{
  text-indent: 1rem;
  color: #4C61B2;
  font-weight:bold;
}
.recommender2{
  text-indent: 1rem;
  color: #4D95B4;
  font-weight:bold;
  font-style:italic;
}

.testemonialContainer{
  /* padding: 0px 3rem; */
  font-size: 1rem;
}

/* ============================================ Video */

.videoAlign{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom:4rem;
}

/* ============================================ Responsiveness */


@media screen and (max-width: 1149px){
  .magGrid{
    grid-template-columns: repeat(2, 25rem);
  }
}


@media screen and (max-width: 949px){
  .magGrid{
    grid-template-columns: repeat(2, 20rem);
  }
  .artDirection{
    font-size:3.25rem;
    /* margin:2rem; */
  }
  .imgDescription{
    font-size: 1.15rem;
    font-weight: bold;
    text-shadow: 1px 1px .9px black;
  }

}


@media screen and (max-width: 750px){

  .magGrid{
    grid-template-columns: repeat(2, 17rem);
  }

  .artDirection{
    font-size:2.5rem;
  }

  .photographyContainer{
    width:600px;
    height: 429px;
  }

  .imgDescription{
    width:250px;
    font-size: 1.1rem;
    font-weight: bold;
  }


}

@media screen and (max-width: 686px){
  .magGrid{
    grid-template-columns: repeat(auto-fill, 20rem);
  }

  .imgDescription{
    font-size: 1.15rem;
    font-weight: bold;
  }
}

@media screen and (max-width: 600px){
  .photographyContainer{
    width:400px;
    height: 286px;
  }
}

@media screen and (max-width: 449px){

  .magGrid{
    grid-template-columns: repeat(auto-fill, 14rem);
  }

  .artDirection{
    font-size:2rem;
    margin-bottom:1rem;
  }

  .imgDescription{
    width:175px;
    font-size: 1rem;
    font-weight: bold;
  }

  .testemonial{
    color: #9A9A9A;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  .testmonialDisclaimer{
    font-size: 1rem;
  }
}

@media screen and (max-width: 400px){
  .photographyContainer{
    width:320px;
    height: 229px;
  }

  .designPhotoBandName{
    display: none;
  }
}

