.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition:  linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 999;
}

.modalPositionFadeIn{
    top:0;
    right:-320px;
    animation: slideIn .5s forwards;
    position: fixed;
    background-color: white;
    height:100%;
    width:320px;
    border-radius: 25px 0px 0px 25px;
}

@keyframes slideIn{
    0%{
        right: -320px
    }
    100%{
        right: 0px;
    }
}

.modalPositionFadeOut{
    right:0px;
    animation: slideOut .2s forwards;
    border-radius: 25px 0px 0px 25px;
    background-color: white;
    height:100%;
    width:320px;
    position: fixed;
}

@keyframes slideOut{
    0%{
        right: 0px
    }
    100%{
        right: -320px;
    }
}
.routeContainer{
    text-align: center;
    font-family: sans-serif;
    font-size: 2rem;
    margin-top: 85px;
}

.routeContainer a, .routeContainer a:hover, .routeContainer a:focus{
    text-decoration: none;
    color: #4C61B2;
}

.closeButton {
    float: right;
    margin: 12.5px 25px 0px 0px;
    right:25px;
    font-size: 35px;
    color: #4D95B4;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
}
.closeButton:hover {
    background-color:transparent;
}

.glyphs{
    color:#4C61B2;;
}

.contactFormat{
    color:   rgb(100,100,100,0.65);
    font-size:1rem;
    margin: 1rem 0px;
    text-align: center;
    font-family: sans-serif;
}

.contactFormat a{
    text-decoration: none; 
    color: rgb(100,100,100,0.65);
}