.layoutBody{
        min-height: 100vh; /* will cover the 100% of viewport */
        overflow: hidden;
        display: block;
        position: relative;
}

.contentMargin{
    margin: 8rem 3rem 2rem 3rem;

}

/* Props Children Fade-In */

.fadeIn{
    animation-name: fadeIn;
    animation-duration:2s;
}

@keyframes fadeIn{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
