.galleryContainer{

  text-align: center;
}

.photoHeader{
  font-family: sans-serif;
  text-align:center;
  font-style: oblique;
  font-weight: bolder;
  color: #4C61B2;
  font-size: 3rem; 
  padding-bottom:25px;
}
  
  .gridContainer {
    display:grid;
    margin:auto;
    justify-content: center;
    align-items: start;
    text-align:center;
    row-gap: 2rem;
    padding-bottom:1rem;
  }
  
  /* ===================================================== Fade */

  .fadeIn{
    margin-top: 4rem;
    margin-bottom: 9rem;
    animation-name: fadeIn;
    animation-duration:2s;
  }
  
  @keyframes fadeIn{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
  }
  
  /* ================ Dummy Data */
  
  .box {
    width: 200px;
    height: 200px;
    border: 5px white solid;
    border-radius:50%;
    margin-bottom:1rem;
    transition: 0.5s ;
    overflow: hidden;
  }

  .box IMG{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    
  }
  
  .box:hover{
    transform:scale(1.1);
    transition: 1s ;
  }
  
  .centerText{
    margin:auto;
    justify-content: center;
    text-align: center;
  }

  /* =========================== Photos */
  .photoGrid {
    display:grid;
    margin:auto;
    justify-content: center; 
    text-align:center;
  }

  .photoBox {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-style: solid;
    border-color: transparent;
    border-width: 10px;
  }

  .photoBox IMG {
    height: inherit;
    width: inherit;
    object-fit: cover;
    object-position: center;
  }

  .albumTitleText{
    text-align: center;
    color: rgb(0,183,241);
  }

 
.errorText{
  font-size: 1rem;
  text-align: center;
}

  /* ============================== Photo Modal */

  .photoModal {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 8;
    margin:auto;
    animation-name: up;
    animation-duration:1s;
    animation-fill-mode: forwards;
  }

  @keyframes up{
    0%{
        height:0%;
    }
    100%{
        height:75%;
    }
  }

.photoContent{
  position: absolute;
  display:flex;
  flex-direction: row;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  height:100%

}

.sliderContainer{
  width:100%;
  height: 95%
}

.sliderContainer IMG {
  width: inherit;
  height: inherit;
  object-fit: contain;
}


.pictureCounter{
 position: fixed;
 margin:0;
 right:4%;
 bottom: 2%;
 text-align: right;
 color:white;
 font-size: 14px;
}

.closePhotoModal{
  position: relative;
  margin:0;
  left:4%;
  text-align: left;
  color:white;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
 }

.imageGalleryButtons{
  display: flex;
  cursor: pointer;
  flex-direction: row;
  align-content:center;
  align-items: center;
  color:white;
  font-size:2rem;
  font-weight:bold;
  user-select: none;
  padding: 10px;
}
  

/* =============================================== Media Queries */

/* =================================== Photos */



@media screen and (min-width: 460px){
  .photoGalleryContainer{
    border-radius: 25px;
    background-color: lightgray;
    margin-top:2rem;
    padding:3rem;
    justify-content: center;
    text-align:center;
  }
}

@media screen and (min-width: 672px){
 .photoGrid {
    display:grid;
    margin:auto;
    grid-template-columns: repeat(auto-fill, 12rem);
    justify-content: center; 
    text-align:center;
    column-gap: 1.75rem;
  }
}

/* =================================== Albums */

@media screen and (min-width: 712px){
  .gridContainer {
    display:grid;
    margin:auto;
    grid-template-columns: repeat(auto-fill, 12rem);
    justify-content: center;
    text-align:center;
    grid-gap: 4rem;
  }
}

@media screen and (min-width: 397px){
  .galleryContainer{
    border-radius: 25px;
    background-color: lightgray;
    margin-top:2rem;
    padding:3rem;
    justify-content: center;
    text-align:center;
  }
}

/* ========================================================== */

.publishedWorkButton{
  background-color:rgb(35,64,143);
  color:white;
  font-family: sans-serif;
  font-size: 1.25rem;
  padding:.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 25px;
  margin-left:0.5rem;
  margin-right: 0.5rem;
  transition: transform .5s;
  transform: scale(1);
}

.publishedWorkButton:focus{
  outline:0;
}

.publishedWorkButton:hover{
  transition: transform .5s;
  transform: scale(.75) 
}

.publishedWorkButtonAlign{
  text-align:center;
  margin: 4rem 0px 4rem 0px;
}