/* =========================================================== Header */

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
    /* justify-content: center; */
    margin:3rem;
}

.leftNav{
    white-space: nowrap;
    font-family: 'GregsHeader', cursive;
    color: rgb(242,212,83);
    font-size: 5rem; 
    text-shadow: -1px -1px 1px #fff, 1px 1px 1px rgb(75,75,75); 
    width: 50%;
    display: flex;
    flex-direction: row;
   
  
}

.rightNav{
    position:relative;
    width: 60%;
    text-align:right;
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-family:sans-serif;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: bold;
    color:rgb(35,64,143);
    font-weight: bold;

}

/* RightNav page title typing */

.typeTitle{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .075em;
    border-right: .075em solid rgb(35,64,143);
    animation: 
    blink-caret 1s step-end infinite,
    typing 3.5s steps(40, end);
    
}

    /* The typing effect */
    @keyframes typing {
    from { width: 0 }
    to { width: 100% }
    }

    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: rgb(35,64,143); }
    }

/* =========================================================== Footer */

.footer{
    left:0;
    bottom:0;
    right:0;
    margin:0 auto;
    padding: 1rem 0 1rem 0;
    text-align:center;
}


/* ==================== Logos */
.gh, .li, .insta, .contact, .resume{
    height:50px;
    width:50px;
    position:relative;
    display: inline-block;
    margin: 0.5rem;
}
.gh IMG, .li IMG, .insta IMG, .contact IMG, .resume IMG{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ;
}

  .gh2:hover, .li2:hover, .insta2:hover, .contact2:hover, .resume2:hover {
    opacity:0;
 }
 
 .gh2, .li2, .insta2, .contact2, .resume2 {
    opacity:1;
 }
 
 /* modal */

 .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    transition:  linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 10;
}

.modalPosition{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modalContact {
    background-color: white;
    padding:0.75rem;
    padding-top:1.5rem;
    width: 20rem;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: 2px 2px 3px rgb(0,0,0,0.5)
}
.closeButton {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:  white;
    width: 1.5rem;
    line-height:1.5rem;
    height:1.5rem;
    text-align: center;
    font-weight: 800;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color:rgb(50,50,50);
    transition: 0.25s
}
.closeButton:hover {
    /* color: rgb(35,64,143); */
    background-color:transparent;
}

.glyphs{
    color:  rgb(0,183,241);
    font-size:1rem;
    position:relative;
    top:2.5px;
}

.contactFormat{
    color:   rgb(100,100,100,0.65);
    font-size:1rem;
    font-family: sans-serif;
    display: inline-block;
}

.contactFormat a{
    text-decoration: none; 
    color: rgb(100,100,100,0.65);
}
.contactTitle{
    font-family: 'GregsHeader';
    font-size:3rem;
    color:  rgb(35,64,143);
}

/* ===================================================== Screen Resize */

@media screen and (max-width: 1229px){
    .rightNav{
    width:50%
    }
}

@media screen and (max-width: 1050px){
    .leftNav{
    font-size:4rem;
    }

    .rightNav{
        font-size:1rem;
    }
}

@media screen and (max-width: 879px){

    .header{
        margin-bottom:2.5rem;
    }

    .leftNav{
    font-size:3.75rem;
    }

    .rightNav{
        font-size:1rem;
    }
}

@media screen and (max-width: 800px){

    .header{
        margin-bottom:2.25rem;
    }
    .rightNav{
        width:40%
    }
}

@media screen and (max-width: 686px){

    .header{
        display: inline-block;
        text-align:center;
        margin-left:0rem;
        margin-right:0rem;
        margin-bottom:0rem;
        
    }

    .typeTitle{
        border-right:none;

    }

    .leftNav{
        width:100%;
        display: inline-block;
        
    }

    .rightNav{
        width:100%;
        /* display: inline-block; */
        margin-top:1.75rem;
        text-align:center;
        justify-content:center;
    }

}


@media screen and (max-width: 399px){

    .leftNav{
        font-size:3rem;
    }

    .rightNav{
        font-size:.9rem;
    }

    .li, .gh, .resume, .contact, .insta{
        height: 40px;
        width: 40px;
        margin-top:0rem;
    }

    .modal{
        background-color:white;
    }

    .modalContact{
        box-shadow: none;
    }

}