.linkLayout{
    text-decoration: none;
    color: 'rgb(35,64,143)';
    text-transform: capitalize;
}

.redirectLinks{
    position: relative;
    width:100%;
    height:35px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    text-align: center;

    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    color: rgb(35,64,143);
    text-decoration: none;
    text-decoration-color:rgb(35,64,143);
    margin-top:2rem;
}


.redirectLinks > a {
      position: relative;
      color: transparent;
      text-decoration: none;
      margin: 0rem 1rem 0rem 1rem;
     
  }
  
  .redirectLinks > a:hover  {
      cursor: pointer;
      color: transparent;
  }
  
  .redirectLinks > a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: rgb(35,64,143);
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }
  
    .redirectLinks >a:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }

@media screen and (max-width: 400px){
    .redirectLinks{
        font-size: 1rem;
    }
  
  }